# Ex - GroupBy

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [2]:
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv")

In [3]:
drinks.shape

(193, 6)

In [4]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [5]:
drinks.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

### Step 4. Which continent drinks more beer on average?

In [6]:
continent = drinks.groupby('continent').mean()
continent.loc[:,'beer_servings']

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

In [7]:
continent.loc[:,'beer_servings'].max()

193.77777777777777

The continent that drinks more beer on average would be Europe

### Step 5. For each continent print the statistics for wine consumption.

In [8]:
wine = drinks.groupby(['continent']).describe()
print(wine.loc[:,'wine_servings'].T)

continent          AF          AS          EU         OC          SA
count       53.000000   44.000000   45.000000   16.00000   12.000000
mean        16.264151    9.068182  142.222222   35.62500   62.416667
std         38.846419   21.667034   97.421738   64.55579   88.620189
min          0.000000    0.000000    0.000000    0.00000    1.000000
25%          1.000000    0.000000   59.000000    1.00000    3.000000
50%          2.000000    1.000000  128.000000    8.50000   12.000000
75%         13.000000    8.000000  195.000000   23.25000   98.500000
max        233.000000  123.000000  370.000000  212.00000  221.000000

### Step 6. Print the mean alcohol consumption per continent for every column

In [9]:
mean = drinks.groupby('continent').mean()
mean.loc[:,'total_litres_of_pure_alcohol']

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [10]:
median = drinks.groupby('continent').median()
median.loc[:,'total_litres_of_pure_alcohol']

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [11]:
spirit = drinks['spirit_servings'].describe()
spiritdata = pd.DataFrame(data=spirit).T

In [12]:
spiritdata.iloc[:,np.r_[1,3,7]]

                      mean  min    max
spirit_servings  80.994819  0.0  438.0